 .u-section-1 {
  background-image: none;
  min-height: 1015px;
}

.u-section-1 .u-gallery-1 {
  height: 722px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

.u-section-1 .u-group-1 {
  width: 841px;
  min-height: 449px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -357px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 67px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 50px auto 0;
  padding: 14px 50px 14px 49px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-1 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-1 .u-over-slide-3 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-gallery-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 471px;
    margin-top: -374px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1022px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 367px;
}

.u-section-2 .u-container-layout-1 {
  padding: 11px 29px;
}

.u-section-2 .u-image-1 {
  height: 267px;
  width: 500px;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 367px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 1px 19px 0 1px;
}

.u-section-2 .u-text-2 {
  line-height: 1.6;
  font-weight: 500;
  margin: 19px 20px 0 auto;
}

.u-section-2 .u-text-3 {
  margin-left: auto;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 20px;
}

.u-section-2 .u-list-1 {
  margin-top: -2px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 27px;
}

.u-section-2 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 5px;
  padding: 15px;
}

.u-section-2 .u-group-1 {
  width: 403px;
  min-height: 94px;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 29px;
  padding-right: 29px;
}

.u-section-2 .u-text-4 {
  font-weight: bold;
  margin: 0 1px;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 27px;
}

.u-section-2 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 5px;
  padding: 15px;
}

.u-section-2 .u-group-2 {
  width: 403px;
  min-height: 94px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 29px;
  padding-right: 29px;
}

.u-section-2 .u-text-6 {
  font-weight: bold;
  margin: 0 1px;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 27px;
}

.u-section-2 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 5px;
  padding: 15px;
}

.u-section-2 .u-group-3 {
  width: 403px;
  min-height: 94px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding-left: 29px;
  padding-right: 29px;
}

.u-section-2 .u-text-8 {
  font-weight: bold;
  margin: 0 166px 0 1px;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 27px;
}

.u-section-2 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 5px;
  padding: 15px;
}

.u-section-2 .u-group-4 {
  width: 403px;
  min-height: 94px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding-left: 29px;
  padding-right: 29px;
}

.u-section-2 .u-text-10 {
  font-weight: bold;
  margin: 0 130px 0 1px;
}

.u-section-2 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 0 27px;
}

.u-section-2 .u-icon-5 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 5px;
  padding: 15px;
}

.u-section-2 .u-group-5 {
  width: 403px;
  min-height: 119px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-12 {
  padding-left: 29px;
  padding-right: 29px;
}

.u-section-2 .u-text-12 {
  font-weight: bold;
  margin: 0 90px 0 1px;
}

.u-section-2 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 0 27px;
}

.u-section-2 .u-icon-6 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 5px;
  padding: 15px;
}

.u-section-2 .u-group-6 {
  width: 403px;
  min-height: 94px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-14 {
  padding-left: 29px;
  padding-right: 29px;
}

.u-section-2 .u-text-14 {
  font-weight: bold;
  margin: 0 121px 0 1px;
}

.u-section-2 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-2 .u-list-2 {
  grid-template-rows: auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 165px;
}

.u-section-2 .u-list-item-7 {
  background-image: none;
}

.u-section-2 .u-container-layout-15 {
  padding: 21px 29px;
}

.u-section-2 .u-text-16 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-text-17 {
  font-size: 1rem;
  margin: 10px 1px 0;
}

.u-section-2 .u-list-item-8 {
  background-image: none;
}

.u-section-2 .u-container-layout-16 {
  padding: 21px 29px;
}

.u-section-2 .u-text-18 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-text-19 {
  font-size: 1rem;
  margin: 10px 1px 0;
}

.u-section-2 .u-list-item-9 {
  background-image: none;
}

.u-section-2 .u-container-layout-17 {
  padding: 21px 29px;
}

.u-section-2 .u-text-20 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-text-21 {
  font-size: 1rem;
  margin: 10px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1054px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-2 .u-image-1 {
    height: 214px;
    width: 402px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    min-height: 302px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 30px;
  }

  .u-section-2 .u-group-1 {
    width: 361px;
    min-height: 124px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 30px;
  }

  .u-section-2 .u-group-2 {
    width: 361px;
    min-height: 124px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 30px;
  }

  .u-section-2 .u-group-3 {
    width: 361px;
    min-height: 124px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 30px;
  }

  .u-section-2 .u-group-4 {
    width: 361px;
    min-height: 124px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 30px;
  }

  .u-section-2 .u-group-5 {
    width: 361px;
    min-height: 124px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 30px;
  }

  .u-section-2 .u-group-6 {
    width: 361px;
    min-height: 124px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-right: 1px;
  }

  .u-section-2 .u-btn-2 {
    transform: translateX(0px) translateY(-5px) scale(1);
  }

  .u-section-2 .u-list-2 {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 172px;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1846px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
    height: 422px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -12px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 741px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 3px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 16px;
  }

  .u-section-2 .u-group-1 {
    min-height: 149px;
    margin-top: 14px;
    margin-right: -6px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 3px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 16px;
  }

  .u-section-2 .u-group-2 {
    min-height: 149px;
    margin-top: 14px;
    margin-right: -6px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 3px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 16px;
  }

  .u-section-2 .u-group-3 {
    min-height: 149px;
    margin-top: 14px;
    margin-right: -6px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-top: 3px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 16px;
  }

  .u-section-2 .u-group-4 {
    min-height: 149px;
    margin-top: 14px;
    margin-right: -6px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-top: 3px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 16px;
  }

  .u-section-2 .u-group-5 {
    min-height: 149px;
    margin-top: 14px;
    margin-right: -6px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-top: 3px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 16px;
  }

  .u-section-2 .u-group-6 {
    min-height: 149px;
    margin-top: 14px;
    margin-right: -6px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-2 .u-list-2 {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 215px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-2 .u-text-16 {
    width: auto;
  }

  .u-section-2 .u-text-17 {
    width: auto;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-2 .u-text-18 {
    width: auto;
  }

  .u-section-2 .u-text-19 {
    width: auto;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-2 .u-text-20 {
    width: auto;
  }

  .u-section-2 .u-text-21 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1863px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 331px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 771px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 11px;
  }

  .u-section-2 .u-group-1 {
    min-height: 152px;
    width: 265px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 11px;
  }

  .u-section-2 .u-group-2 {
    min-height: 152px;
    width: 265px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 11px;
  }

  .u-section-2 .u-group-3 {
    min-height: 152px;
    width: 265px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 11px;
  }

  .u-section-2 .u-group-4 {
    min-height: 152px;
    width: 265px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 11px;
  }

  .u-section-2 .u-group-5 {
    min-height: 152px;
    width: 265px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 11px;
  }

  .u-section-2 .u-group-6 {
    min-height: 152px;
    width: 265px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-2 {
    margin-top: 40px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 190px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-16 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-18 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-20 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2456px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 284px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    height: 204px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1150px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 19px;
  }

  .u-section-2 .u-group-1 {
    width: 243px;
    min-height: 173px;
    margin-top: -82px;
    margin-right: 3px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 19px;
  }

  .u-section-2 .u-group-2 {
    width: 243px;
    min-height: 173px;
    margin-top: -82px;
    margin-right: 3px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 19px;
  }

  .u-section-2 .u-group-3 {
    width: 243px;
    min-height: 173px;
    margin-top: -82px;
    margin-right: 3px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-9 {
    padding-top: 0;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 19px;
  }

  .u-section-2 .u-group-4 {
    width: 243px;
    min-height: 173px;
    margin-top: -82px;
    margin-right: 3px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-11 {
    padding-top: 0;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 19px;
  }

  .u-section-2 .u-group-5 {
    width: 243px;
    min-height: 173px;
    margin-top: -82px;
    margin-right: 3px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-13 {
    padding-top: 0;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 19px;
  }

  .u-section-2 .u-group-6 {
    width: 243px;
    min-height: 173px;
    margin-top: -82px;
    margin-right: 3px;
    margin-left: auto;
  }

  .u-section-2 .u-list-2 {
    margin-top: 20px;
    margin-bottom: 48px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
    min-height: 516px;
    grid-auto-columns: 100%;
  }
}

.u-section-2 .u-btn-2,
.u-section-2 .u-btn-2:before,
.u-section-2 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 279px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-3 .u-slider-1 {
  min-height: 130px;
  width: 763px;
  margin: -18px auto 60px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 71px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 18px 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 80px;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 80px;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
}

.u-section-3 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    height: auto;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 182px;
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 165px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.125rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 532px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  margin: 60px auto 0 32px;
}

.u-section-4 .u-text-2 {
  font-style: normal;
  margin: 32px 244px 0 32px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 22px;
  width: 100%;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 25px 30px;
}

.u-section-4 .u-icon-1 {
  height: 37px;
  width: 37px;
  padding: 10px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 90px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 25px 30px;
}

.u-section-4 .u-icon-2 {
  height: 37px;
  width: 37px;
  padding: 10px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 90px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 25px 30px;
}

.u-section-4 .u-icon-3 {
  height: 37px;
  width: 37px;
  padding: 10px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 90px;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 44px;
  }

  .u-section-4 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-4 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-4 .u-accordion-pane-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}